<div class="container">

    <div ng-show="!!!apiStatus" class="alert alert-error">
        Failed to connect to the API
    </div>

    <!-- API -->
    <div class="well">
        <h4>API</h4>

        <form class="form-horizontal" name="updateApiUrlForm">
            <div class="control-group">
                <label class="control-label" for="input-api-endpoint">URL</label>
                <div class="controls">
                    <input ng-model="apiUrl" type="text" id="input-api-endpoint" required>
                    <button ng-click="checkApi()" ng-disabled="updateApiUrlForm.$invalid" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>

    <div ng-show="!!apiStatus">
        <form class="form-horizontal" name="updateSettingsForm">

            <!-- General -->
            <div class="well">
                <h4>General</h4>

                <!-- Max tries -->
                <div class="control-group">
                    <label class="control-label" for="transfers-max-tries">Max tries</label>
                    <div class="controls">
                        <input ng-model="settings.general.max_tries" class="span1" type="number" min="1" max="10" id="transfers-max-tries">
                    </div>
                </div>

                <!-- Retry delta -->
                <div class="control-group">
                    <label class="control-label" for="transfers-retry-delta">Retry delta</label>
                    <div class="controls">
                        <input ng-model="settings.general.retry_delta" class="span1" type="number" min="1" max="99999" id="transfers-retry-delta"><span class="add-on"> seconds</span>
                    </div>
                </div>

            </div>

            <!-- Paths -->
            <div class="well">
                <h4>Paths</h4>

                <!-- Tmp -->
                <div class="control-group">
                    <label class="control-label" for="path-tmp">Temp</label>
                    <div class="controls controls-row">
                        <input ng-model="settings.paths.tmp" type="text" id="path-tmp">
                    </div>
                </div>

                <!-- Default -->
                <div class="control-group">
                    <label class="control-label" for="path-default">Default destination</label>
                    <div class="controls controls-row">
                        <input ng-model="settings.paths.default" type="text" id="path-default">
                    </div>
                </div>

                <!-- Invalid -->
                <div class="control-group">
                    <label class="control-label" for="path-invalid">Invalid destination</label>
                    <div class="controls controls-row">
                        <input ng-model="settings.paths.invalid" type="text" id="path-invalid">
                    </div>
                </div>

            </div>

            <!-- Transmission -->
            <div class="well">
                <h4>Transmission</h4>

                <!-- Active -->
                <div class="control-group">
                    <label class="control-label" for="transmission-active">Active</label>
                    <div class="controls">
                        <input ng-model="settings.transmission.active" type="checkbox" id="transmission-active">
                    </div>
                </div>

                <!-- Host -->
                <div class="control-group">
                    <label class="control-label" for="transmission-host">Host</label>
                    <div class="controls controls-row">
                        <input ng-model="settings.transmission.host" type="text" id="transmission-host">
                    </div>
                </div>

                <!-- Port -->
                <div class="control-group">
                    <label class="control-label" for="transmission-port">Port</label>
                    <div class="controls">
                        <input ng-model="settings.transmission.port" class="span1" type="number" min="1024" max="65536" id="transmission-port">
                    </div>
                </div>

                <!-- Username -->
                <div class="control-group">
                    <label class="control-label" for="transmission-username">Username</label>
                    <div class="controls controls-row">
                        <input ng-model="settings.transmission.username" type="text" id="transmission-username">
                    </div>
                </div>

                <!-- Password -->
                <div class="control-group">
                    <label class="control-label" for="transmission-password">Password</label>
                    <div class="controls controls-row">
                        <input ng-model="settings.transmission.password" type="text" id="transmission-password">
                    </div>
                </div>

            </div>

            <!-- Sabnzbd -->
            <div class="well">
                <h4>Sabnzbd</h4>

                <!-- Active -->
                <div class="control-group">
                    <label class="control-label" for="sabnzbd-active">Active</label>
                    <div class="controls">
                        <input ng-model="settings.sabnzbd.active" type="checkbox" id="sabnzbd-active">
                    </div>
                </div>

                <!-- Host -->
                <div class="control-group">
                    <label class="control-label" for="sabnzbd-host">Host</label>
                    <div class="controls controls-row">
                        <input ng-model="settings.sabnzbd.host" type="text" id="sabnzbd-host">
                    </div>
                </div>

                <!-- Port -->
                <div class="control-group">
                    <label class="control-label" for="sabnzbd-port">Port</label>
                    <div class="controls">
                        <input ng-model="settings.sabnzbd.port" class="span1" type="number" min="1024" max="65536" id="sabnzbd-port">
                    </div>
                </div>

                <!-- API key -->
                <div class="control-group">
                    <label class="control-label" for="sabnzbd-apikey">API key</label>
                    <div class="controls controls-row">
                        <input ng-model="settings.sabnzbd.api_key" type="text" id="sabnzbd-apikey">
                    </div>
                </div>

                <!-- Path -->
                <div class="control-group">
                    <label class="control-label" for="sabnzbd-path">Base path</label>
                    <div class="controls controls-row">
                        <input ng-model="settings.sabnzbd.base_path" type="text" id="sabnzbd-path">
                    </div>
                </div>

            </div>

            <!-- Torrent -->
            <div class="well">
                <h4>Torrent</h4>

                <!-- Active delta -->
                <div class="control-group">
                    <label class="control-label" for="torrent-inactive-delta">Inactive delta</label>
                    <div class="controls">
                        <input ng-model="settings.torrent.inactive_delta" class="span1" type="number" min="1" max="9999" id="torrent-inactive-delta"><span class="add-on"> hours</span>
                    </div>
                </div>

                <!-- Added delta -->
                <div class="control-group">
                    <label class="control-label" for="torrent-added-delta">Added delta</label>
                    <div class="controls">
                        <input ng-model="settings.torrent.added_delta" class="span1" type="number" min="1" max="9999" id="torrent-added-delta"><span class="add-on"> hours</span>
                    </div>
                </div>

            </div>

            <!-- Rsync -->
            <div class="well">
                <h4>Rsync</h4>

                <!-- Default args -->
                <div class="control-group">
                    <label class="control-label" for="rsync-args">Default args</label>
                    <div class="controls controls-row">
                        <input ng-model="settings.rsync.default_args" type="text" id="rsync-args">
                    </div>
                </div>

            </div>

            <div class="well">
                <button class="btn btn-warning">Reset</button>
                <button ng-click="updateSettings()" ng-disabled="updateSettingsForm.$invalid" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>

</div>
