<div class="container">

    <div ng-show="!hasResult">No result</div>

    <div class="accordion" id="transfers-accordion">
        <div ng-repeat="transfer in transfers" class="accordion-group">

            <!-- Header -->
            <div class="accordion-heading">
                <span class="text-center label item-status" ng-class="statusInfo[!!!transfer.error].labelClass">{{transfer.type}}</span>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#transfers-accordion" href="#{{transfer.id}}">{{transfer.name | truncate:80}}</a>
                <span ng-show="{{transfer.tries > 1}}" class="label label-important pull-right">{{transfer.tries}}</span>
            </div>

            <!-- Content -->
            <div id="{{transfer.id}}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul class="unstyled">
                        <li><strong>Source:</strong> {{transfer.src | ifList}}</li>
                        <li><strong>Destination:</strong> {{transfer.dst}}</li>
                        <li><strong>Size:</strong> {{transfer.size | size}} MB</li>
                        <li><strong>Transferred:</strong> {{transfer.transferred | size}} MB</li>
                        <li><strong>Progress:</strong> {{transfer.progress | progress}} %</li>
                    </ul>

                    <div class="progress">
                        <div class="bar" style="width: {{transfer.progress}}%;"></div>
                    </div>

                    <button ng-click="removeTransfer(transfer.id)" class="btn btn-danger" type="button">Remove</button>

                </div>
            </div>

        </div>
    </div>
</div>
